:root {
    --morado-oscuro: #330C2F;
    --morado: #7b287d;
    --azul-oscuro: #7067cf;
    --azul: #b7c0ee;
    --verde: #cbf3d2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input[type="button"] {
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 0.5rem;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    line-height: 1rem;
    margin: 1rem 0;
}
header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--morado);
    color: white;
}
main {
    padding: 1rem;
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin: 0 auto;
    column-gap: 1rem;
}
input[type="text"], textarea {
    width: 100%;
    padding: 0.2rem 0.8rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--morado);
    outline: none;
    min-height: 45px;
    margin: 0.5rem 0;
}
textarea {
    min-height: 300px;
}
#id_insertar {
    width: 100%;
    padding: 0.2rem 0.8rem;
    background-color: var(--verde);
    font-size: large;
}
#form_insertar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
table {
    border-collapse: collapse;
}
table td {
    padding: 0.5rem;
    border: 1px solid var(--morado);

}
#form_modificar {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#id_buscar {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}