:root {
    --morado-oscuro: #330C2F;
    --morado: #7b287d;
    --azul-oscuro: #7067cf;
    --azul: #b7c0ee;
    --verde: #cbf3d2;
    --rojo: #ff7e67;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

button, input[type="button"] {
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 0.5rem;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.2rem;
    font-weight: 500;
}
header {
    padding: 0.5rem;
    background-color: var(--morado);
    color: white;
}
main {
    display: grid;
    grid-template-columns:  0.8fr 1.2fr;
    margin: 1rem auto;
    column-gap: 3rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
}
input[type="text"], textarea {
    width: 100%;
    padding: 0 0.8rem;
    height: 12px;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--morado);
    outline: none;
    min-height: 45px;
    transition: border-color 0.3s;
}
input[type="text"]:focus, textarea:focus {
    border-color: var(--azul-oscuro);
}
input[type="text"]::placeholder, textarea::placeholder {
    color: var(--azul-oscuro);
    opacity: 0.6;
}
.btn_reset {
    background-color: var(--morado);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 0 0 1rem;
    transition: transform 0.5s, background-color 0.3s;

}
.btn_reset:hover span svg {
    transform: rotate(360deg);
}
.btn_reset span svg {
    transition: transform 0.5s;
}
.btn_reset:hover {
    background-color: var(--morado-oscuro);
}
textarea {
    min-height: 300px;
    resize: none;
    padding: 0.8rem;
}
#id_insertar, #id_editar{
    width: 100%;
    padding: 0.4rem 0.8rem;
    background-color: var(--verde);
    font-size: large;
}
.btn_buscar {
    padding: 7px;
    margin-left: -0.5rem;
    font-size: large;
    background-color: var(--azul);
    border: 1px solid var(--morado);
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: none;
    transition: background-color 0.3s;
    height: 45px;
    overflow: hidden;
}
.btn_buscar:hover {
    background-color: var(--azul-oscuro);
}
#form_insertar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    gap: 1rem;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.centrar_id{
    text-align: center;
}
td, th {
    padding: 0.5rem;
    border: 1px solid var(--morado);
}
#form_modificar {
    z-index: 10;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 8px;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    background-color: rgb(243, 240, 240);
    border-radius: 0.5rem;
}
#btn_close {
    position: absolute;
    z-index: 11;
    top: 0px;
    right: 0px;
    transition: transform 0.5s, background-color 0.3s;
    transform: translate(45%, -45%);
    background-color: transparent;
}
#id_buscar {
    display: flex;
    justify-content: right;
    margin: 1rem 0;
}
#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
}
.btn_borrar {
    background-color: var(--rojo);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: transform 0.5s, background-color 0.3s;
    display: block;
    max-width: 45px;

}
#acciones_grupales {
    padding: 1rem 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    main {
        grid-template-columns: 1fr;
    }
    
}